@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(111, 110, 196);
    color:aliceblue;
    font-family: "Montserrat", serif;
    font-weight: 300;
}

.header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


main{
    margin: 50px 100px;
    width: 50%;
    float: left;
}

aside{
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

main .task{
    margin-bottom: 50px;
    background-color: rgb(34, 63, 82);
    padding: 20px;
}

main .delete-icon{
    float:right;
    color:rgb(221, 45, 45);
    cursor:pointer;
    transform: scale(2);
}


main .edit-icon{
    float:right;
    margin-right: 25px;
    color:rgb(38, 179, 92);
    cursor:pointer;
    transform: scale(2);
}

main .delete-icon:hover,
main .delete-icon:hover{
    opacity: 0.5;
}

 form input:not([type="checkbox"]),  form textarea,  form button{
    width: 90%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    color:aliceblue;
    outline: none;
    font-size: 15px;

}

 form input[type="checkbox"]{

    margin: 10px;
}

 form button{
    width: 100%;
    cursor:pointer;
    transition: transform 500ms ease;
}

 form button:hover{
   transform: scale(1.1);
}

.user form {
    margin-top: 20px;
}


.user form input 
.user form textarea 
.user form button 
.user form select
{
    background: #574a4a;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.priority
{
    background: #c6dac9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 35px;
}

.user form button:hover{
    transform: scale(1.01);
 }

 .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:hover {
    background-color: #eaeaea;
  }
  
  .pagination button.active {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
  }
  
  .pagination button.active:hover {
    background-color: #218838;
  }

  .pagination-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    margin-top: 20px; /* Отступ сверху */
  }
  

  .footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Тень сверху */
    padding: 10px 0;
    z-index: 100;
  }